.Facebook{
    background-color: rgb(183, 0, 255);
}

.Instagram{
    background-color:brown;
}

.Youtube{
    background-color: rgb(206, 233, 116);
}

.Messenger{
    background-color: rgb(175, 134, 123);
}

.Whatsapp{
    background-color: rgb(247, 215, 250);
}